<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalapp.mapper.board.BoardMapper">

<!--    <insert id="insertBoard" parameterType="BoardWriteDTO">-->
<!--        <selectKey keyProperty="boardId" resultType="Long" order="BEFORE">-->
<!--            SELECT SEQ_BOARD.nextval FROM DUAL-->
<!--        </selectKey>-->
<!--        INSERT INTO TBL_BOARD (BOARD_ID, TITLE, CONTENT, USER_ID, CREATED_DATE)-->
<!--        VALUES (#{boardId}, #{title}, #{content}, #{userId}, #{createdDate})-->
<!--    </insert>-->
<!--    <insert id="insertBoard" parameterType="BoardWriteDTO">-->
<!--        <selectKey keyProperty="boardId" resultType="Long" order="BEFORE">-->
<!--            SELECT SEQ_BOARD.nextval FROM DUAL-->
<!--        </selectKey>-->
<!--        INSERT INTO TBL_BOARD(BOARD_ID, TITLE, CONTENT, USER_ID)-->
<!--        VALUES (#{boardId}, #{title}, #{content}, #{userId})-->
<!--    </insert>-->

    <insert id="insertBoard" parameterType="BoardWriteDTO">
        <selectKey keyProperty="boardId" resultType="Long" order="BEFORE">
            SELECT SEQ_BOARD.nextVal FROM DUAL
        </selectKey>
        INSERT INTO TBL_BOARD(BOARD_ID, TITLE, CONTENT, USER_ID)
        VALUES(#{boardId}, #{title}, #{content}, #{userId})
    </insert>

    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM TBL_BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>

    <update id="updateBoard" parameterType="BoardUpdateDTO">
        UPDATE TBL_BOARD
        SET TITLE = #{title}, CONTENT=#{content}, MODIFIED_DATE = SYSDATE
        WHERE BOARD_ID = #{boardId}
    </update>

    <select id="selectById" parameterType="Long" resultType="BoardViewDTO">
        SELECT BOARD_ID, TITLE, CONTENT,
               CREATED_DATE,
               MODIFIED_DATE,
               U.LOGIN_ID, U.USER_ID
        FROM TBL_BOARD B JOIN TBL_USER U
                              ON B.BOARD_ID = #{boardId} AND B.USER_ID = U.USER_ID
    </select>

    <select id="selectAll" resultType="BoardListDTO">
        SELECT BOARD_ID, TITLE, U.LOGIN_ID
        FROM TBL_BOARD B JOIN TBL_USER U
                              ON B.USER_ID = U.USER_ID
        ORDER BY BOARD_ID DESC
    </select>

    <select id="selectAllPage" parameterType="Criteria" resultType="BoardListDTO">
        <![CDATA[
        SELECT BOARD_ID, TITLE, LOGIN_ID, FILE_ID, NAME, UPLOAD_PATH, UUID
        FROM (
                 SELECT ROWNUM AS RNUM, BOARD_ID, TITLE, LOGIN_ID, FILE_ID, NAME, UPLOAD_PATH, UUID
                 FROM (
                          SELECT B.BOARD_ID, TITLE, U.LOGIN_ID,
                                 F.FILE_ID, F.NAME, F.UPLOAD_PATH, F.UUID
                          FROM TBL_BOARD B JOIN TBL_USER U
                                                ON B.USER_ID = U.USER_ID
                                           LEFT JOIN (
                              SELECT FILE_ID, NAME, UPLOAD_PATH, UUID, BOARD_ID
                              FROM (
                                       SELECT FILE_ID, NAME, UPLOAD_PATH, UUID, BOARD_ID,
                                              RANK() OVER(PARTITION BY BOARD_ID ORDER BY FILE_ID) RK
                                       FROM TBL_FILE
                                   )
                              WHERE RK = 1
                          ) F
                                                     ON B.BOARD_ID = F.BOARD_ID
                          ORDER BY BOARD_ID DESC
                      )
                 WHERE ROWNUM <= #{page} * #{amount}
             )
        WHERE RNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="selectTotal" resultType="int">
        SELECT COUNT(BOARD_ID) FROM TBL_BOARD
    </select>
</mapper>
